.products {
  margin: 0 2rem 0 1rem;
  flex: 5;
  // Start ecommerce header section
  .ecommerce-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.7rem;
    h5 {
      color:var(--headerColor);
    }
    #burger {
      div {
        background: var(--pargrahColor);
        width: 25px;
        height: 3px;
        margin: 3px;
        display: none;
      }
    }
  }
  .custom-select {
    select {
      background-color: transparent;
      border:1px solid #7367f0;
      border-radius: 5px;
      padding:10px;
      font-size:1rem;
      color:var(--primary-btn-fg);
      option {
        border:none;
        background-color: var(--section-bg);
      }
    }
    .item-view {
      display: inline-block;
      margin-left: 2rem;
      border:1px solid #7367f0;
      border-radius: 7px;
      button {
      padding:.6rem 1.1rem;
      border:none;
      background-color: transparent;
      border-radius: 7px;
      cursor: pointer;
      &:first-child {
        border-right: 1px solid #7367f0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      &:hover {
        background-color: #DEDBF7;
      }
      span {
      font-size: 1.2rem;
      color:#7367f0;

      }
      }
    }
  }

  
  // End ecommerce header section

  // Start search section

  .search {
    display: flex;
    align-items: center;
    input[type="search"] {
      width: 100%;
      height: 2rem;
      font-size: 0.9rem;
      padding: 1.3rem 0.5rem;
      border-radius: 2px;
      color:var(--pargrahColor);
      outline: none;
      border: none;
      background-color: var(--section-bg);
      @include box-shadow(0, 4px, 24px, rgba(34, 41, 47, 0.1));
    }
    button {
      background: var(--section-bg);
      border: none;
      padding: 0.5rem;
      height: 40px;
      span {
        font-size: 1rem;
        color: #999;
      }
    }
  }
  // End search section
  // Start products section
  .items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 0fr);
    gap: 10px 20px;
    .item {
      background-color: var(--section-bg);
      border-radius: 8px;
      margin-top: 15px;
      transition: .5s;
      min-width: 234px;
      cursor: pointer;
      @include box-shadow(0, 4px, 24px, rgba(34, 41, 47, 0.1));
      &:hover {
        @include box-shadow(0, 4px, 25px, rgba(34,41,47,.25));
        transform: translateY(-5px);

      }
      .image {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
    .item-details {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0rem 1rem;
      flex-wrap: wrap;
      h5 {
        color: var(--headerColor);
      }
      span {
        color: gold;
        font-size: 0.9rem;
        margin-bottom: .8rem;
      }
    }
    .item-info {
      margin: 0rem 1rem;
      h5 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 600;
        color: var(--headerColor);
        &:hover {
          color:#7367f0;
        }

      }
      p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: var(--pargrahColor);
        margin:5px 0 13px;
      }
    }
    .item-options {
      margin-top: 5px;
      display: flex;
      justify-content: space-evenly;
    }
    a {
      display: inline-block;
      background: none;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      width: 100%;
      text-align: center;
      text-decoration: none;
      font-size: 0.8rem;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      height: 40px;
    }
    .wishlist {
      background-color: var(--secondary-btn-fg);
      color:var(--pargrahColor) ;
      .bg-hover {
        font-size: 1rem;
        padding-right:.6rem;
      }
    }
    .add-to-cart {
      background-color: #7367f0;
      color: #fff;
    }
  }
  // start Pagination
  .Pagination {
    margin-top: 3rem;
    ul {
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: center;
      li {
        background: #F3F2F7;
        width: 30px;
        font-size: 0.9rem;
        height: 30px;
        margin-left: 8px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
      }
      .active {
        background-color: #7367f0;
        color: #fff;
      }
    }
  }
  // start Pagination
}