#filter {
  color: var(--pargrahColor);
  margin-left: 1.5rem;
  height: 100%;
  flex: 1.2;
  margin-top: 17px;
  h5 {
    margin-bottom: 15px;
    font-weight: 800;
    color: var(--headerColor);
  }
  .filter-body {
    background-color: var(--section-bg);
    padding: 1.4rem 2rem;
    border-radius: 0.3rem;
    position: relative;
    @include box-shadow(10px, 10px, 10px, rgba(34, 41, 47, 0.1));

    h4 {
      margin-bottom: 1.2rem;
    }
    input[type="radio"] {
      width:17px;
      height: 17px;
    }

    label {
      color: #000;
      margin-inline-start: 0.7rem;
      color: var(--pargrahColor);
      display: inline-block;
      margin-bottom: 0.7rem;
      font-size: 0.75rem;
    }
  }

  // start custome-range section
.custom-range {
  display: flex;
  align-items: center;
  #slider {
    width:80%;
    border-radius: 10px;
    margin:0px 10px 10px 0;
    outline: none;
    cursor: pointer;

  }
}

  .filter-active {
    transform: translateX(0%) !important;
    top:0;
  }
  #close {
    position: absolute;
    right:20px;
    top:20px;
    cursor: pointer;
    display: none;
  }
  .rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.6;
    .rating-star {
      span {
        font-size: 18px;
        border-radius: 1px solid #666;
      }
    }
    .checked {
      color:orange
    }
  }
}
