nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: .2rem 1rem;
  position: sticky;
  margin: 20px;
  position: sticky;
  top:20px;
  z-index: 3;
  @include box-shadow(4px, 24px, 15px, rgba(34, 41, 47, 0.1));
  ul {
    list-style-type: none;
    color: #6e6b7b;
  }
  .bookmark {
    display: flex;
    justify-content: space-between;
    min-width: 15%;
    li {
      #burger {
        div {
          background: #555;
          width: 25px;
          height: 3px;
          margin: 3px;
          display: none;
        }
      }
    }
  }
  // start setting section
  .setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 24%;
    .shoping-cart {
      position: relative;
      .sub-menu {
        position: absolute;
        background: #fff;
        border: 1px solid #444;
        padding: 1rem;
        top: 63px;
        right: 6px;
        width: 20rem;
      }
    }
    .user {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-evenly;
      position: relative;
      cursor: pointer;
      .submenu {
        border-radius: 5px;
        position: absolute;
        top: 55px;
        width: 10rem;
        background-color: #FFF;
        display: none;

        li {
          line-height: 2.9;
          display: flex;
          align-items: center;
          font-size: .85rem;
          padding-left:20px;
          cursor: pointer;
          &:hover {
            background-color: rgba(115,103,240,.12);
          }
          span {
            font-size: 1rem;
            margin-right:6px;
          }
          a {
            text-decoration: none;
          }
        }
        .line {
          border: 1px solid rgba(34,41,47,.08);
          height: 1px;
        }
      }
    }
    img {
      border-radius: 50%;
      max-width: 25%;
      min-width: 20%;
      display: inline-block;
    }
  }
  .active {
    display: block !important;
    transition: all ease-in-out .5s;
  }
}

// start setting section
