.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  h1,h2 {
    color:var(--headerColor);
    font-size:2rem;
  }
  p {
    color:var(--pargrahColor);
    margin:1rem 0;
  }
  button {
    background-color:var(--primary-btn-fg);
    padding:.7rem 1rem;
    width:150px;
    border:none;
    color:#FFF;
    border-radius: 4px;
    font-size: 1rem;
  }
}