nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--section-bg);
  padding: .2rem 1rem;
  position: sticky;
  margin: 20px;
  position: sticky;
  top:20px;
  z-index: 3;
  @include box-shadow(4px, 24px, 15px, rgba(34, 41, 47, 0.1));
  ul {
    list-style-type: none;
    color: var(--pargrahColor);
  }
  .bookmark {
    display: flex;
    justify-content: space-between;
    min-width: 15%;
    li {
      #burger {
        div {
          background: var(--pargrahColor);
          width: 25px;
          height: 3px;
          margin: 3px;
          display: none;
        }
      }
    }
  }
  // start setting section
  .setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 29%;
    .darkMood {
      cursor: pointer;
    }
    .shoping-cart {
      a {
        color:var(--pargrahColor);
        text-decoration: none;
      }
    }

    .alert {
      position: relative;
      cursor: pointer;
      .badge {
        position:absolute;
        top:-8px;
        left:10px;
        width:1.2rem;
        height:1.2rem;
        background-color: #ea5455;
        color:#FFF;
        padding:5px;
        border-radius: 50%;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
      }
      .drop-down-menu {
        background-color: var(--section-bg);
        position: absolute;
        top: 47px;
        right: 0px;
        min-width: 27rem;
        padding:10px;
        border-radius: 5px;
        display: none;
        overflow: auto;
        max-height:27rem;
        li {
          border-bottom: 1px solid #ebe9f1;
          padding:15px 0;
        }
        .title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .drop-down-badge {
            background: rgba(115,103,240,.12);
            color:#7367f0 ;
            border-radius: 8px;
            font-size: .7rem;
            font-weight: bold;
            padding:5px 8px;
            min-width:20px;
            height: 20px;
          }
        }
        .media {
          display: flex;
          align-items: center;
          .avatar-img {
            width:10%;
            margin-right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            p {
              background-color: #F7E4E4;
              font-size: .6rem;
              color:#ea5455;
              border-radius: 50%;
              font-weight: bold;
              width: 27px;
              height: 27px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            img {
              max-width:90%;
            }
          }
          .media-content {
            width: 90%;
            span {
              font-size: .7rem;
            }
          }
        }
        input[type='button'] {
          width: 100%;
          padding: .786rem 1.5rem;
          background-color: #7367f0;
          color:#FFF;
          border: none;
          outline: none;
          border-radius: .358rem;
          cursor: pointer;
          font-size: .9rem;
          font-weight: 500;
          &:hover {
          @include box-shadow(0, 8px, 25px, #7367f0);
          }
        }
      }
    }

    .user {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-evenly;
      position: relative;
      cursor: pointer;
      .submenu {
        border-radius: 5px;
        position: absolute;
        top: 55px;
        width: 10rem;
        background-color: var(--section-bg);
        display: none;

        li {
          line-height: 2.9;
          display: flex;
          align-items: center;
          font-size: .85rem;
          padding-left:20px;
          cursor: pointer;
          &:hover {
            background-color: rgba(115,103,240,.12);
          }
          span {
            font-size: 1rem;
            margin-right:6px;
          }
          a {
            text-decoration: none;
            color: var(--pargrahColor);

          }
        }
        .line {
          border: 1px solid rgba(34,41,47,.08);
          height: 1px;
        }
      }
    }
    img {
      border-radius: 50%;
      max-width: 25%;
      min-width: 20%;
      display: inline-block;
    }
  }
  .active {
    display: block !important;
    transition: all ease-in-out .5s;
  }
  .show {
    display: block !important;
  }
}

// start setting section
