@media (max-width: 1200px) {
  // start slider responsive section
  #sidebar {
    position: fixed;
    left: 0px;
    transform: translateX(-100%);
    transition: .5s;
    width:225px;
    z-index: 999;
    height: 100vh;
    overflow: scroll;
    #close {
      display: block !important;
    }
  }
  // start slider responsive section

  // start navbar responsive section
  .bookmark {
    #burger {
      div {
        display: block !important;
        cursor: pointer;
      }
    }
  }
  .active {
    transform: translateX(0%) !important;
    height: auto;
  }
}
@media (max-width: 767.98px) {  
nav {
  .setting {
    .alert {
      .drop-down-menu {
        right:-72px;
      }
    }
  }
}
}
@media (max-width: 575.98px) { 
  nav {
    .setting {
      .alert {
        .drop-down-menu {
          min-width: 344px;
          right: -116px;
        }
      }
    }
  }
}
  // End navbar responsive section


@media (max-width: 991.98px) {
  // start navbar responsive section
  nav {
    .icon {
      display: none;
    }
    .bookmark {
      ul {
        display: none;
      }
    }
  }
  // start navbar responsive section

  .ecommerce-header {
    #burger {
      div {
        display: block !important;
      }
    }
    h5 {
      display: none;
    }
  }
  #filter {
    position: absolute;
    left: 0px;
    transform: translateX(-115%);
    transition: .5s;
    
  }
  .active-filter {
    transform: translateX(0%) !important;
    top:0;
    left:0;
    height: auto;
    z-index:999;
    margin:0 !important;
    h4 {
      display: none;
    }
    #close {
      display: block !important;
    }
  }

  .products {
    .items {
      grid-template-columns: repeat(2, 1fr);
    }
  }

}

@media (max-width: 575.98px) {
  .products {
    .items {
      grid-template-columns: repeat(1, 1fr);
      .item-options {
          display: block;
      }
    }
  }
  .setting {
    .user {
      .info {
        display: none;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .customizer {
    display: none;
  }
}