// Start sidebar section
#sidebar {
  flex: 0.7;
  background-color: var(--section-bg);
  min-width: 12rem;
  padding: 2rem 2rem 0rem 1.5rem;
  position: sticky;
  top:0;
  @include box-shadow(14px, 24px, 15px, rgba(34, 41, 47, 0.1));

  .logo {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    position: relative;
    img {
      width: 20%;
      margin-top: 0.3rem;
    }
    a {
      color: #7367f0;
      display: inline-block;
      margin-inline-start: 1rem;
      font-size: 1.45rem;
      text-decoration: none;
      font-weight:600;
    }
    #close {
      position:absolute;
      top: 0px;
      right: -10px;
      cursor: pointer;
      display: none;
    }
  }

  .main-menu {
    list-style-type: none;
    a {
      line-height: 2.5rem;
      text-decoration: none;
      display: flex;
      align-items: center;
      color: var(--pargrahColor);
      font-size: 12px;
      &:hover {
        padding-inline-start: 8px;
        transition: 0.2s;
        cursor: pointer;
      }

      h5 {
        color: var(--headerColor);
      }

      span {
        padding-inline-end: 10px;
      }
    }
  }
}
// End sidebar section
